.main-wrapper{
    margin: 0 auto;
    width: 1000px;
}
a{
    text-decoration: none;
}
body{
    background-color: deepskyblue;
}
header nav{
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
}
header nav ul{
    float: left;
}
header nav ul li{
    float: left;
    list-style: none;
}
header nav ul li a{
    font-family: Arial;
    font-size: 20px;
    color: black;
    line-height: 63px;
    margin-bottom: 20px;
}

header .nav-login{
    float:right;
}

header .nav-login form{
    float:left;
    padding-top: 15px;
}
header .nav-login form input{
    float:left;
    width: 140px;
    height:30px;
    padding: 0px 10px;
    margin-right: 10px;
    border:none;
    background-color: darkgray;
    font-family: Arial;
    font-size: 14px;
    color:#111;
    line-height: 30px;
}
header .nav-login form button{
    float:left;
    width: 60px;
    height:30px;
    margin-right: 10px;
    border:none;
    background-color: lightgrey;
    font-family: Arial;
    font-size: 14px;
    color:#111;
    cursor: pointer;
}
header .nav-login form button:hover{
    background-color: lightseagreen;

}
header .nav-login  a{
    display:block;
    width: 60px;
    height: 60px;
    border: none;
    background-color: white;
    font-family: Arial;
    font-size: 16px;
    color: cornflowerblue;
    line-height: 63px;
    cursor: pointer;
    float: left;
}
.main-container{
    padding-top: 40px;
}

.main-container h2{
    font-family: Arial;
    font-size: 40px;
    color:#111;
    line-height: 50px;
    text-align: center;
}


/*signup.php*/

.signup-form{
     width: 400px;
     margin: 0 auto;
     padding-top: 30px;
 }
.signup-form input{
    width: 90%;
    height:40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    margin-right: 10px;
    border:none;
    background-color: whitesmoke;
    font-family: Arial;
    font-size: 16px;
    color:#111;
    line-height: 40px;
}

.signup-form input:hover{
    background-color: wheat;
    color: black;
}
.signup-form button{
    display: block;
    width: 30%;
    height:40px;
    margin: 0 auto;
    border:none;
    background-color: whitesmoke;
    font-family: Arial;
    font-size: 16px;
    color:black;
    cursor: pointer;
}
.signup-form button:hover{
    background-color: black;
    color: white;
}